@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  --orange: #ffa500;
  --gray: #b2b2b2;
  --light-gray: #eaeaea;
  --blue: #0c8fe7;
  --red: #e74c3c;
  --yellow: #d4ac0d;
  --green: #239b56;
}

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: var(--blue);
}

body {
  background-color: var(--yellow);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 40px;
  gap: 20px;

  background-color: var(--green);
}

footer {
  font-size: 20px;
  padding: 20px;
}

main {
  flex: 1;
  margin: 0 20px;
}